@model IEnumerable<Item>

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron mt-3">
    <h2 class="text-center">
        <span class="border-bottom">Celtis IT Solutions Intership Task</span>
    </h2>

    <div class="row mt-2 border-bottom">
        <div class="col-sm-4 text-left">
            <h4>Items</h4>
        </div>
        <div class="col-sm-4 offset-md-4 text-right">
            @(await Html.RenderComponentAsync<AddItems>(RenderMode.Server))
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <table id="dtBasicExample" class="table table-sm" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Unique Id
                        </th>
                        <th class="th-sm">
                            Title
                        </th>
                        <th class="th-sm">
                            Description
                        </th>
                        <th class="th-sm">
                            Unit Type
                        </th>
                        <th class="th-sm">
                            Rate
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UniqueId</td>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td>@item.UnitType</td>
                            <td>@item.Rate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>